In [1]:
import sqlite3 
#connecting with the database if there is no database it will create one 
db = sqlite3.connect('my_testbase.db')
#declare cursor 
cursor = db.cursor()

In [3]:
import pandas as pd

In [4]:
my_testbase = pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Students_details.csv')
my_testbase.to_csv('Students_details.csv' , index = False) #upload a file from github link to our database.

In [ ]:
#if e want to read directly from github and use the file in sql 
#1.read the file using pandas 
#2.export to csv file with index is set to be false 
#3.used the saved file in the 2nd step . example below

In [7]:
cursor.execute("select * from my_testbase")
df = pd.DataFrame(cursor.fetchall())
print(df)

             0                    1                   2       3
0   9872341234   student1@gmail.com        Data science  420000
1    982345556   student2@gmail.com  fashion designing    89000
2   9872341238   student1@gmail.com        Data science  420000
3    982325556   student2@gmail.com  fashion designing    89000
4   9988776604   student4@gmail.com   Digital Marketing   38000
5   9988776605   student5@gmail.com        Data Science  133000
6   9988776606   student6@gmail.com        Data Science   34000
7   9988776607   student7@gmail.com        Data Science   33000
8   9988776608   student8@gmail.com        Data Science  129000
9   9988776609   student9@gmail.com        Data Science   40000
10  9988776610  student10@gmail.com      Data Analytics   32500
11  9988776611  student11@gmail.com        Data Science   41500
12  9988776612  student12@gmail.com   Digital Marketing   31000
13  9988776613  student13@gmail.com   Digital Marketing   23000
14  9988776614  student14@gmail.com        Data Science   24000
15  9988776615  student15@gmail.com        Data Science   23000
16  9988776616  student16@gmail.com        Data Science  122500
17  9988776617  student17@gmail.com        Data Science   29000
18  9988776618  student18@gmail.com        Data Science  140000
19  9988776619  student19@gmail.com      Data Analytics   32500
20  9988776620  student20@gmail.com         Inv Banking   41500
21  9988776621  student21@gmail.com        Data Science  131000
22  9988776622  student22@gmail.com        Data Science   23000
23  9988776623  student23@gmail.com        Data Science   24000

In [8]:
#watch this class again

column name is not coming here we have to fetch column name here

In [9]:
#this code helps us to fetch column names
cursor.description

(('phone_no', None, None, None, None, None, None),
 ('email_id', None, None, None, None, None, None),
 ('course_name', None, None, None, None, None, None),
 ('fee_paid', None, None, None, None, None, None))

In [10]:
list(df.columns)

[0, 1, 2, 3]

In [12]:
df.columns = [x[0] for x in cursor.description]
df   #to upload column name

      phone_no             email_id         course_name  fee_paid
0   9872341234   student1@gmail.com        Data science    420000
1    982345556   student2@gmail.com  fashion designing      89000
2   9872341238   student1@gmail.com        Data science    420000
3    982325556   student2@gmail.com  fashion designing      89000
4   9988776604   student4@gmail.com   Digital Marketing     38000
5   9988776605   student5@gmail.com        Data Science    133000
6   9988776606   student6@gmail.com        Data Science     34000
7   9988776607   student7@gmail.com        Data Science     33000
8   9988776608   student8@gmail.com        Data Science    129000
9   9988776609   student9@gmail.com        Data Science     40000
10  9988776610  student10@gmail.com      Data Analytics     32500
11  9988776611  student11@gmail.com        Data Science     41500
12  9988776612  student12@gmail.com   Digital Marketing     31000
13  9988776613  student13@gmail.com   Digital Marketing     23000
14  9988776614  student14@gmail.com        Data Science     24000
15  9988776615  student15@gmail.com        Data Science     23000
16  9988776616  student16@gmail.com        Data Science    122500
17  9988776617  student17@gmail.com        Data Science     29000
18  9988776618  student18@gmail.com        Data Science    140000
19  9988776619  student19@gmail.com      Data Analytics     32500
20  9988776620  student20@gmail.com         Inv Banking     41500
21  9988776621  student21@gmail.com        Data Science    131000
22  9988776622  student22@gmail.com        Data Science     23000
23  9988776623  student23@gmail.com        Data Science     24000

In [13]:
#above code  represent that our column name is coming at 0 index.so we choose x[0] index for all the columns

In [14]:
#df.column = [phone_no , email_id , course_name , fees choose from 0th index]